<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p><%= @product.email %></p>
<p><%= @product.password %></p>
<p><%= @product.gender %></p>


<%#= link_to 'Back to index page', articles_path %>


